In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import holidays

### Select reasonable date range

In [2]:
# Read in raw data
df = pd.read_csv('data/Major_Crime_Indicators_Open_Data.csv', parse_dates=['OCC_DATE'])

In [3]:
# Find min and max occurence dates
df.OCC_DATE.min(), df.OCC_DATE.max()

(Timestamp('1966-06-09 04:00:00+0000', tz='UTC'),
 Timestamp('2022-12-31 05:00:00+0000', tz='UTC'))

In [4]:
# Find min and max report dates
df.REPORT_DATE.min(), df.REPORT_DATE.max()

('2014/01/01 05:00:00+00', '2022/12/31 05:00:00+00')

We select crime occurences after the year 2014 (corresponding to the earliest report date in the dataset). In this analysis, we focus on occurence date and not report date, since it does not make sense for a user to know when a hypothetical future crime will be reported, but the day, month, and time of a crime occurring may be important predictors.

In [5]:
df = df[df['OCC_DATE'] >= '2014/01/01']

In [6]:
# check work
df.OCC_DATE.min(), df.OCC_DATE.max()

(Timestamp('2014-01-01 05:00:00+0000', tz='UTC'),
 Timestamp('2022-12-31 05:00:00+0000', tz='UTC'))

### Select columns of interest
We select columns relating to the location and time reported crimes have occured. Redundant variables are dropped. The goal is to use these predictors to predict crime type (MCI_CATEGORY)

In [7]:
df = df[['OBJECTID', 'OCC_DATE', 'OCC_HOUR', 'LOCATION_TYPE', 'HOOD_158', 'NEIGHBOURHOOD_158', 'LONG_WGS84', 'LAT_WGS84', 'MCI_CATEGORY']].copy()

### Missing values
The data does not appear to have missing values.

In [8]:
df.isna().sum(axis=0)

OBJECTID             0
OCC_DATE             0
OCC_HOUR             0
LOCATION_TYPE        0
HOOD_158             0
NEIGHBOURHOOD_158    0
LONG_WGS84           0
LAT_WGS84            0
MCI_CATEGORY         0
dtype: int64

### Process names of location type
Delete the parenthesis and everything inside using regex

In [9]:
df.loc[:, 'LOCATION_TYPE'] = df.LOCATION_TYPE.str.replace('\s*\(.+', '', regex=True)

In [10]:
df.LOCATION_TYPE.unique()

array(['Commercial Dwelling Unit', 'Apartment',
       'Streets, Roads, Highways', 'Bar / Restaurant',
       'Other Commercial / Corporate Places', 'Go Train',
       'Single Home, House',
       'Hospital / Institutions / Medical Facilities', 'Retirement Home',
       'Gas Station', 'Open Areas', 'Parking Lots', 'Ttc Subway Station',
       'Other Non Commercial / Corporate Places', 'Unknown',
       'Bank And Other Financial Institutions', 'Convenience Stores',
       'Jails / Detention Centres', 'Group Homes',
       'Private Property Structure', 'Homeless Shelter / Mission',
       'Ttc Street Car', 'Ttc Subway Train',
       'Schools During Un-Supervised Activity', 'Construction Site',
       'Police / Courts', 'Ttc Bus', 'Schools During Supervised Activity',
       'Religious Facilities', 'Universities / Colleges', 'Dealership',
       'Ttc Bus Stop / Shelter / Loop', 'Go Station',
       'Other Passenger Train', 'Other Regional Transit System Vehicle',
       'Other Passenger Train Station', 'Other Train Tracks',
       'Ttc Subway Tunnel / Outdoor Tracks',
       'Other Train Admin Or Support Facility', 'Go Bus',
       'Ttc Admin Or Support Facility', 'Ttc Light Rail Vehicle',
       'Cargo Train', 'Ttc Bus Garage', 'Ttc Light Rail Transit Station',
       'Other Train Yard', 'Ttc Wheel Trans Vehicle', 'Pharmacy',
       'Nursing Home', 'Community Group Home', 'Halfway House',
       'Ttc Support Vehicle'], dtype=object)

We notice that many of the public transit categories are similar and can be binned together to reduce the cardinality of the location variable

In [11]:
def group_transit(string):
    '''For a given string, if it belongs in the public transit category, return 'Public Transit'''
    
    public_transit_elements = ['Ttc Bus', 'Ttc Subway Train', 'Ttc Subway Tunnel / Outdoor Tracks', 
                               'Ttc Street Car', 'Ttc Support Vehicle', 'Ttc Bus Garage', 
                               'Ttc Light Rail Vehicle', 'Ttc Light Rail Transit Station', 
                               'Ttc Wheel Trans Vehicle', 'Ttc Bus Stop / Shelter / Loop', 
                               'Go Train', 'Go Station', 'Go Bus', 'Other Passenger Train', 
                               'Other Regional Transit System Vehicle', 'Other Passenger Train Station', 
                               'Other Train Tracks', 'Other Train Admin Or Support Facility', 
                               'Cargo Train', 'Other Train Yard']
    
    if string in public_transit_elements:
        return 'Public Transit'
    else:
        return string

In [12]:
# Use pandas function map to apply group_transit() to every element in LOCATION_TYPE
df.loc[:, 'LOCATION_TYPE'] = df.LOCATION_TYPE.map(group_transit)

In [13]:
# We obtain 33 different location types
len(df.LOCATION_TYPE.unique())

33

In [14]:
df.LOCATION_TYPE.unique()

array(['Commercial Dwelling Unit', 'Apartment',
       'Streets, Roads, Highways', 'Bar / Restaurant',
       'Other Commercial / Corporate Places', 'Public Transit',
       'Single Home, House',
       'Hospital / Institutions / Medical Facilities', 'Retirement Home',
       'Gas Station', 'Open Areas', 'Parking Lots', 'Ttc Subway Station',
       'Other Non Commercial / Corporate Places', 'Unknown',
       'Bank And Other Financial Institutions', 'Convenience Stores',
       'Jails / Detention Centres', 'Group Homes',
       'Private Property Structure', 'Homeless Shelter / Mission',
       'Schools During Un-Supervised Activity', 'Construction Site',
       'Police / Courts', 'Schools During Supervised Activity',
       'Religious Facilities', 'Universities / Colleges', 'Dealership',
       'Ttc Admin Or Support Facility', 'Pharmacy', 'Nursing Home',
       'Community Group Home', 'Halfway House'], dtype=object)

### Extract day of the week from occurence datetimes

Here, Monday is 0 and Sunday is 6

In [15]:
df['dayofweek'] = df.OCC_DATE.dt.dayofweek

### Add Canadian Holiday variable

In [16]:
# Set of Canadian Holidays
ca_holidays = holidays.Canada()

# Check if Occurence date is on a Candian Holiday
df['isholiday'] = df.OCC_DATE.map(lambda x: x.date() in ca_holidays)

### Clustering using k-prototypes
Add a feature based on k-prototypes clustering which is suitable for a mix of numeric (i.e. GPS coordinates) and categorical (i.e. neighborhoods). This data driven feature can provide insight on the structure of the data, and on a high level, provide a low-cardinality way of representing the interaction between time and location. For example, directly multiplying the binary variables for hour (24) and neighborhood (158) for example, results in 3792 new dummy variables with questionable interpretability. Instead, we can simply cluster similar times and similar locations together.

### Export clean data

In [19]:
df

,OBJECTID,OCC_DATE,OCC_HOUR,LOCATION_TYPE,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,MCI_CATEGORY,dayofweek,isholiday
1,2,2014-01-01 05:00:00+00:00,3,Commercial Dwelling Unit,70,South Riverdale,-79.350229,43.646293,Break and Enter,2,True
2,3,2014-01-01 05:00:00+00:00,4,Apartment,74,North St.James Town,-79.376497,43.666423,Assault,2,True
3,4,2014-01-01 05:00:00+00:00,4,"Streets, Roads, Highways",NSA,NSA,-85.488744,0.000000,Theft Over,2,True
4,5,2014-01-01 05:00:00+00:00,4,"Streets, Roads, Highways",69,Blake-Jones,-79.344839,43.678946,Assault,2,True
5,6,2014-01-01 05:00:00+00:00,2,Bar / Restaurant,164,Wellington Place,-79.391841,43.646639,Assault,2,True
...,...,...,...,...,...,...,...,...,...,...,...
323291,323292,2022-12-22 05:00:00+00:00,8,"Single Home, House",119,Wexford/Maryvale,-79.301740,43.736102,Break and Enter,3,False
323292,323293,2022-12-31 05:00:00+00:00,3,Other Commercial / Corporate Places,130,Milliken,-79.258639,43.828794,Break and Enter,5,False
323293,323294,2022-12-22 05:00:00+00:00,16,Apartment,102,Forest Hill North,-79.425645,43.701404,Assault,3,False
323294,323295,2022-12-31 05:00:00+00:00,4,Convenience Stores,98,Rosedale-Moore Park,-79.385170,43.672134,Assault,5,False
323295,323296,2022-12-31 05:00:00+00:00,4,Other Commercial / Corporate Places,138,Eglinton East,-79.248081,43.736690,Break and Enter,5,False

In [18]:
df.to_csv('data/clean_data.csv', index=False)